**Coursebook: Data Wrangling and SQL**
- Part 3 of Practical Data Analysis with Python and SQL
- Last Updated: April 2019

___

- Author: [Samuel Chan](https://github.com/onlyphantom)
- Developed by [Algoritma](https://algorit.ma)'s product division and instructors team

# Background

## Top-Down Approach 

The coursebook is part of the **Practical Data Analysis with Python and SQL** Specialization offered by [Algoritma](https://algorit.ma). It takes a more accessible approach compared to Algoritma's core educational products, by getting participants to overcome the "how" barrier first, rather than a detailed breakdown of the "why". 

This translates to an overall easier learning curve, one where the reader is prompted to write short snippets of code in frequent intervals, before being offered an explanation on the underlying theoretical frameworks. Instead of mastering the syntactic design of the Python programming language, then moving into data structures, and then the `pandas` library, and then the mathematical details in an imputation algorithm, and its code implementation; we would do the opposite: Implement the imputation, then a succinct explanation of why it works and applicational considerations (what to look out for, what are assumptions it made, when _not_ to use it etc).

## Learn-by-Building

This coursebook is intended for participants who have completed the preceding courses offered in the **Practical Data Analysis with Python and SQL** Specialization. This is the third course, **Data Wrangling and SQL**

The coursebook focuses on:
- Reshaping your DataFrame
- Working with SQL
- Using Group By Effectively

At the end of this course is a Graded Asssignment section, where you are expected to apply all that you've learned on a new dataset, and attempt the given questions.

# Data Wrangling and Preparation

In the previous two courses, we've got our hands on a few common techniques and learned how to explore data using `pandas` built-in methods. Specifically, we've  in the first and second part of this series how to use the following inspection, diagnostic and exploratory tools: 

**Data Inspection**
- `.head()` and `.tail()`
- `.describe()`
- `.shape` and `.size`
- `.axes`
- `.dtypes`
- Subsetting using `.loc`, `.iloc` and conditionals
---
**Diagnostic and Exploratory**
- Tables
- Cross-Tables and Aggregates
- Using `aggfunc` for aggregate functions
- Pivot Tables
- Working with DateTime
- Working with Categorical Data
- Duplicates and Missing Value Treatment

The first half of this course serves as an extension from the last. We'll pick up some new techniques to supplement our EDA toolset. Let us begin with reshaping techniques.

In [1]:
from pandas_datareader import data
import pandas as pd

In [7]:
symbol = ['AAPL', 'FB', 'GOOGL']
source = 'yahoo'
start_date = '2018-01-01'
end_date = '2019-04-24'
stock = data.DataReader(symbol, source, start_date, end_date)
stock.head()

Attributes        High                                  Low              \
Symbols           AAPL          FB        GOOGL        AAPL          FB
Date
2018-01-02  172.300003  181.580002  1075.979980  169.259995  177.550003
2018-01-03  174.550003  184.779999  1096.099976  171.960007  181.330002
2018-01-04  173.470001  186.210007  1104.079956  172.080002  184.100006
2018-01-05  175.369995  186.899994  1113.579956  173.050003  184.929993
2018-01-08  175.610001  188.899994  1119.160034  173.929993  186.330002

Attributes                     Open                                Close  \
Symbols           GOOGL        AAPL          FB        GOOGL        AAPL
Date
2018-01-02  1053.020020  170.160004  177.679993  1053.020020  172.259995
2018-01-03  1073.430054  172.529999  181.880005  1073.930054  172.229996
2018-01-04  1094.260010  172.539993  184.899994  1097.089966  173.029999
2018-01-05  1101.800049  173.440002  185.589996  1103.449951  175.000000
2018-01-08  1110.000000  174.350006  187.199997  1111.000000  174.350006

Attributes                               Volume                         \
Symbols             FB        GOOGL        AAPL          FB      GOOGL
Date
2018-01-02  181.419998  1073.209961  25555900.0  18151900.0  1588300.0
2018-01-03  184.669998  1091.520020  29517900.0  16886600.0  1565900.0
2018-01-04  184.330002  1095.760010  22434600.0  13880900.0  1302600.0
2018-01-05  186.850006  1110.290039  23660000.0  13574500.0  1512500.0
2018-01-08  188.279999  1114.209961  20567800.0  17994700.0  1232200.0

Attributes   Adj Close
Symbols           AAPL          FB        GOOGL
Date
2018-01-02  168.987320  181.419998  1073.209961
2018-01-03  168.957886  184.669998  1091.520020
2018-01-04  169.742706  184.330002  1095.760010
2018-01-05  171.675278  186.850006  1110.290039
2018-01-08  171.037628  188.279999  1114.209961

If you do not have the `pandas_datareader` module installed, or if you're following along this coursebook without an active connection, you can instead load it from the serialized object I stored in your `data_cache` folder. 

Creating the DataFrame object by reading from `pickle`:
- `stock = pd.read_pickle('data_cache/stock')`

Serializing the DataFrame object to a byte stream using `pickle`:
- `stock.to_pickle('data_cache/stock')`

In [10]:
stock.to_pickle('data_cache/stock')
stock = pd.read_pickle('data_cache/stock')
stock.head()

Attributes        High                                  Low              \
Symbols           AAPL          FB        GOOGL        AAPL          FB
Date
2018-01-02  172.300003  181.580002  1075.979980  169.259995  177.550003
2018-01-03  174.550003  184.779999  1096.099976  171.960007  181.330002
2018-01-04  173.470001  186.210007  1104.079956  172.080002  184.100006
2018-01-05  175.369995  186.899994  1113.579956  173.050003  184.929993
2018-01-08  175.610001  188.899994  1119.160034  173.929993  186.330002

Attributes                     Open                                Close  \
Symbols           GOOGL        AAPL          FB        GOOGL        AAPL
Date
2018-01-02  1053.020020  170.160004  177.679993  1053.020020  172.259995
2018-01-03  1073.430054  172.529999  181.880005  1073.930054  172.229996
2018-01-04  1094.260010  172.539993  184.899994  1097.089966  173.029999
2018-01-05  1101.800049  173.440002  185.589996  1103.449951  175.000000
2018-01-08  1110.000000  174.350006  187.199997  1111.000000  174.350006

Attributes                               Volume                         \
Symbols             FB        GOOGL        AAPL          FB      GOOGL
Date
2018-01-02  181.419998  1073.209961  25555900.0  18151900.0  1588300.0
2018-01-03  184.669998  1091.520020  29517900.0  16886600.0  1565900.0
2018-01-04  184.330002  1095.760010  22434600.0  13880900.0  1302600.0
2018-01-05  186.850006  1110.290039  23660000.0  13574500.0  1512500.0
2018-01-08  188.279999  1114.209961  20567800.0  17994700.0  1232200.0

Attributes   Adj Close
Symbols           AAPL          FB        GOOGL
Date
2018-01-02  168.987320  181.419998  1073.209961
2018-01-03  168.957886  184.669998  1091.520020
2018-01-04  169.742706  184.330002  1095.760010
2018-01-05  171.675278  186.850006  1110.290039
2018-01-08  171.037628  188.279999  1114.209961

Create a DataFrame by subsetting only the `Close` columns. Name it `closingprice`. Then, use `.isna().sum()` to count the number of missing values in each of the columns present in `closingprice`.

If there are any missing values, use the `.fillna(method='ffill')` method to fill those missing values:

In [17]:
## Your code below


## -- Solution code

If you pay close attention to the index of `stock`, you may already realized by now that there are days where no records were present. 2018-01-01, 2018-01-06, and 2018-01-07 were absent from our DataFrame because they happen to fall on weekends.

While the trading hours of [different stock markets differ](https://www.maybank-ke.com.sg/markets/markets-listing/trading-hours/) (the NYSE for example open its market floor from 9.30am to 4pm five days a week), on weekends as well as federal holidays all stock exchanges are closed for business.

We can create (or recreate) the index by passing in our own values. In the following cell we created a date range and create the index using that new date range:

In [24]:
closingprice = stock['Close']
quarter1 = pd.date_range(start="2019-01-01", end="2019-03-31")
closingprice = closingprice.reindex(quarter1)
closingprice.head(8)

Symbols           AAPL          FB        GOOGL
2019-01-01         NaN         NaN          NaN
2019-01-02  157.919998  135.679993  1054.680054
2019-01-03  142.190002  131.740005  1025.469971
2019-01-04  148.259995  137.949997  1078.069946
2019-01-05         NaN         NaN          NaN
2019-01-06         NaN         NaN          NaN
2019-01-07  147.929993  138.050003  1075.920044
2019-01-08  150.750000  142.529999  1085.369995

Now use forward-fill to fill the `NA` values:

In [26]:
## Your code below


## -- Solution code

## `stack()` and `unstack()

`stack()` stack the prescribed level(s) from columns to index and is particularly useful on DataFrames having a multi-level columns. It does so by "shifting" the columns to create new levels on its index. 

This is easier understood when we just see an example. Notice that `stock` has a 2-level column (Attributes and Symbols) and 1-level index (Date):

In [40]:
stock.head(8)

Attributes        High                                  Low              \
Symbols           AAPL          FB        GOOGL        AAPL          FB
Date
2018-01-02  172.300003  181.580002  1075.979980  169.259995  177.550003
2018-01-03  174.550003  184.779999  1096.099976  171.960007  181.330002
2018-01-04  173.470001  186.210007  1104.079956  172.080002  184.100006
2018-01-05  175.369995  186.899994  1113.579956  173.050003  184.929993
2018-01-08  175.610001  188.899994  1119.160034  173.929993  186.330002
2018-01-09  175.059998  188.800003  1118.439941  173.410004  187.100006
2018-01-10  174.300003  187.889999  1112.780029  173.000000  185.630005
2018-01-11  175.490005  188.399994  1114.849976  174.490005  187.380005

Attributes                     Open                                Close  \
Symbols           GOOGL        AAPL          FB        GOOGL        AAPL
Date
2018-01-02  1053.020020  170.160004  177.679993  1053.020020  172.259995
2018-01-03  1073.430054  172.529999  181.880005  1073.930054  172.229996
2018-01-04  1094.260010  172.539993  184.899994  1097.089966  173.029999
2018-01-05  1101.800049  173.440002  185.589996  1103.449951  175.000000
2018-01-08  1110.000000  174.350006  187.199997  1111.000000  174.350006
2018-01-09  1108.199951  174.550003  188.699997  1118.439941  174.330002
2018-01-10  1103.979980  173.160004  186.940002  1107.000000  174.289993
2018-01-11  1106.479980  174.589996  188.399994  1112.310059  175.279999

Attributes                               Volume                         \
Symbols             FB        GOOGL        AAPL          FB      GOOGL
Date
2018-01-02  181.419998  1073.209961  25555900.0  18151900.0  1588300.0
2018-01-03  184.669998  1091.520020  29517900.0  16886600.0  1565900.0
2018-01-04  184.330002  1095.760010  22434600.0  13880900.0  1302600.0
2018-01-05  186.850006  1110.290039  23660000.0  13574500.0  1512500.0
2018-01-08  188.279999  1114.209961  20567800.0  17994700.0  1232200.0
2018-01-09  187.869995  1112.790039  21584000.0  12393100.0  1340400.0
2018-01-10  187.839996  1110.140015  23959900.0  10529900.0  1036700.0
2018-01-11  187.770004  1112.050049  18667700.0   9588600.0  1121200.0

Attributes   Adj Close
Symbols           AAPL          FB        GOOGL
Date
2018-01-02  168.987320  181.419998  1073.209961
2018-01-03  168.957886  184.669998  1091.520020
2018-01-04  169.742706  184.330002  1095.760010
2018-01-05  171.675278  186.850006  1110.290039
2018-01-08  171.037628  188.279999  1114.209961
2018-01-09  171.018005  187.869995  1112.790039
2018-01-10  170.978760  187.839996  1110.140015
2018-01-11  171.949951  187.770004  1112.050049

When we stack the `stock` DataFrame, we shrink the number of levels on its column by one: `stock` now has 1-level column named `Attributes`:

In [41]:
stock.stack().head(8)

Attributes                 High          Low         Open        Close  \
Date       Symbols
2018-01-02 AAPL      172.300003   169.259995   170.160004   172.259995
           FB        181.580002   177.550003   177.679993   181.419998
           GOOGL    1075.979980  1053.020020  1053.020020  1073.209961
2018-01-03 AAPL      174.550003   171.960007   172.529999   172.229996
           FB        184.779999   181.330002   181.880005   184.669998
           GOOGL    1096.099976  1073.430054  1073.930054  1091.520020
2018-01-04 AAPL      173.470001   172.080002   172.539993   173.029999
           FB        186.210007   184.100006   184.899994   184.330002

Attributes              Volume    Adj Close
Date       Symbols
2018-01-02 AAPL     25555900.0   168.987320
           FB       18151900.0   181.419998
           GOOGL     1588300.0  1073.209961
2018-01-03 AAPL     29517900.0   168.957886
           FB       16886600.0   184.669998
           GOOGL     1565900.0  1091.520020
2018-01-04 AAPL     22434600.0   169.742706
           FB       13880900.0   184.330002

`unstack()` does the opposite: it "shifts" the levels from index axis onto column axis. Try and create a stack DataFrame, and then apply `unstack` on the new DataFrame to see it return to the original shape:

In [60]:
## Your code below


## -- Solution code

### Knowledge Check

Which of the following statement is correct?

- [ ] `stack()` changes the DataFrame from wide to long
- [ ] `unstack()` changes the DataFrame from long to wide
- [ ] `unstack()` changes the DataFrame from wide to long

## Melt

Speaking of reshaping a DataFrame from wide format to long, another method that should be in your toolset is `melt()`. Consider the following data:

In [75]:
stock.stack().head(9)

Attributes                 High          Low         Open        Close  \
Date       Symbols
2018-01-02 AAPL      172.300003   169.259995   170.160004   172.259995
           FB        181.580002   177.550003   177.679993   181.419998
           GOOGL    1075.979980  1053.020020  1053.020020  1073.209961
2018-01-03 AAPL      174.550003   171.960007   172.529999   172.229996
           FB        184.779999   181.330002   181.880005   184.669998
           GOOGL    1096.099976  1073.430054  1073.930054  1091.520020
2018-01-04 AAPL      173.470001   172.080002   172.539993   173.029999
           FB        186.210007   184.100006   184.899994   184.330002
           GOOGL    1104.079956  1094.260010  1097.089966  1095.760010

Attributes              Volume    Adj Close
Date       Symbols
2018-01-02 AAPL     25555900.0   168.987320
           FB       18151900.0   181.419998
           GOOGL     1588300.0  1073.209961
2018-01-03 AAPL     29517900.0   168.957886
           FB       16886600.0   184.669998
           GOOGL     1565900.0  1091.520020
2018-01-04 AAPL     22434600.0   169.742706
           FB       13880900.0   184.330002
           GOOGL     1302600.0  1095.760010

In [73]:
stock.stack().xs('AAPL', level='Symbols')

Attributes,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-02,172.300003,169.259995,170.160004,172.259995,25555900.0,168.987320
2018-01-03,174.550003,171.960007,172.529999,172.229996,29517900.0,168.957886
2018-01-04,173.470001,172.080002,172.539993,173.029999,22434600.0,169.742706
2018-01-05,175.369995,173.050003,173.440002,175.000000,23660000.0,171.675278
2018-01-08,175.610001,173.929993,174.350006,174.350006,20567800.0,171.037628
2018-01-09,175.059998,173.410004,174.550003,174.330002,21584000.0,171.018005
2018-01-10,174.300003,173.000000,173.160004,174.289993,23959900.0,170.978760
2018-01-11,175.490005,174.490005,174.589996,175.279999,18667700.0,171.949951
2018-01-12,177.360001,175.649994,176.179993,177.089996,25226000.0,173.725571
2018-01-16,179.389999,176.139999,177.899994,176.190002,29565900.0,172.842682
2018-01-17,179.250000,175.070007,176.149994,179.100006,34386800.0,175.697388
2018-01-18,180.100006,178.250000,179.369995,179.259995,31193400.0,175.854340
2018-01-19,179.580002,177.410004,178.610001,178.460007,32425100.0,175.069550
2018-01-22,177.779999,176.600006,177.300003,177.000000,27108600.0,173.637283
2018-01-23,179.440002,176.820007,177.300003,177.039993,32689100.0,173.676514
2018-01-24,177.300003,173.199997,177.250000,174.220001,51105100.0,170.910080
2018-01-25,174.949997,170.529999,174.509995,171.110001,41529000.0,167.859161
2018-01-26,172.000000,170.059998,172.000000,171.509995,39143000.0,168.251556
2018-01-29,170.160004,167.070007,170.160004,167.960007,50640400.0,164.769012
2018-01-30,167.369995,164.699997,165.529999,166.970001,46048200.0,163.797836
2018-01-31,168.440002,166.500000,166.869995,167.429993,32478900.0,164.249084
2018-02-01,168.619995,166.759995,167.169998,167.779999,47230800.0,164.592438
2018-02-02,166.800003,160.100006,166.000000,160.500000,86593800.0,157.450745
2018-02-05,163.880005,156.000000,159.100006,156.490005,72738500.0,153.516953
2018-02-06,163.720001,154.000000,154.830002,163.029999,68243800.0,159.932663
2018-02-07,163.399994,159.070007,163.089996,159.539993,51608600.0,156.508972
2018-02-08,161.000000,155.029999,160.289993,155.149994,54390500.0,152.202393
2018-02-09,157.889999,150.240005,157.070007,156.410004,70672600.0,154.064056
2018-02-12,163.889999,157.509995,158.500000,162.710007,60819500.0,160.269562
2018-02-13,164.750000,161.649994,161.949997,164.339996,32549200.0,161.875107
...,...,...,...,...,...,...
2019-03-13,183.300003,180.919998,182.250000,181.710007,31032500.0,181.710007
2019-03-14,184.100006,182.559998,183.899994,183.729996,23579500.0,183.729996
2019-03-15,187.330002,183.740005,184.850006,186.119995,39042900.0,186.119995
2019-03-18,188.389999,185.789993,185.800003,188.020004,26219800.0,188.020004
2019-03-19,188.990005,185.919998,188.350006,186.529999,31646400.0,186.529999
2019-03-20,189.490005,184.729996,186.229996,188.160004,31035200.0,188.160004
2019-03-21,196.330002,189.809998,190.020004,195.089996,51034200.0,195.089996
2019-03-22,197.690002,190.779999,195.339996,191.050003,42407700.0,191.050003
2019-03-25,191.979996,186.600006,191.509995,188.740005,43845300.0,188.740005
2019-03-26,192.880005,184.580002,191.660004,186.789993,49800500.0,186.789993
2019-03-27,189.759995,186.550003,188.750000,188.470001,29848400.0,188.470001
2019-03-28,189.559998,187.529999,188.949997,188.720001,20780400.0,188.720001
2019-03-29,190.080002,188.539993,189.830002,189.949997,23564000.0,189.949997
2019-04-01,191.679993,188.380005,191.639999,191.240005,27862000.0,191.240005
2019-04-02,194.460007,191.050003,191.089996,194.020004,22765700.0,194.020004
2019-04-03,196.500000,193.149994,193.250000,195.350006,23271800.0,195.350006
2019-04-04,196.369995,193.139999,194.789993,195.690002,19114300.0,195.690002
2019-04-05,197.100006,195.929993,196.449997,197.000000,18526600.0,197.000000
2019-04-08,200.229996,196.339996,196.419998,200.100006,25881700.0,200.100006
2019-04-09,202.850006,199.229996,200.320007,199.500000,35768200.0,199.500000
2019-04-10,200.740005,198.179993,198.679993,200.619995,21695300.0,200.619995
2019-04-11,201.000000,198.440002,200.850006,198.949997,20900800.0,198.949997
2019-04-12,200.139999,196.210007,199.199997,198.869995,27760700.0,198.869995
2019-04-15,199.850006,198.009995,198.580002,199.229996,17536600.0,199.229996
2019-04-16,201.369995,198.559998,199.460007,199.250000,25696400.0,199.250000
2019-04-17,203.380005,198.610001,199.539993,203.130005,28906800.0,203.130005
2019-04-18,204.149994,202.520004,203.119995,203.860001,24195800.0,203.860001
2019-04-22,204.940002,202.339996,202.830002,204.529999,19439500.0,204.529999
2019-04-23,207.750000,203.899994,204.429993,207.479996,23323000.0,207.479996
2019-04-24,208.479996,207.050003,207.360001,207.160004,17500500.0,207.160004

In [67]:
closingprice.melt(id_vars="FB")

             FB Symbols        value
0           NaN    AAPL          NaN
1    135.679993    AAPL   157.919998
2    131.740005    AAPL   142.190002
3    137.949997    AAPL   148.259995
4    137.949997    AAPL   148.259995
5    137.949997    AAPL   148.259995
6    138.050003    AAPL   147.929993
7    142.529999    AAPL   150.750000
8    144.229996    AAPL   153.309998
9    144.199997    AAPL   153.800003
10   143.800003    AAPL   152.289993
11   143.800003    AAPL   152.289993
12   143.800003    AAPL   152.289993
13   145.389999    AAPL   150.000000
14   148.949997    AAPL   153.070007
15   147.539993    AAPL   154.940002
16   148.300003    AAPL   155.860001
17   150.039993    AAPL   156.820007
18   150.039993    AAPL   156.820007
19   150.039993    AAPL   156.820007
20   150.039993    AAPL   156.820007
21   147.570007    AAPL   153.300003
22   144.300003    AAPL   153.919998
23   145.830002    AAPL   152.699997
24   149.009995    AAPL   157.759995
25   149.009995    AAPL   157.759995
26   149.009995    AAPL   157.759995
27   147.470001    AAPL   156.300003
28   144.190002    AAPL   154.679993
29   150.419998    AAPL   165.250000
..          ...     ...          ...
150  162.279999   GOOGL  1148.520020
151  162.279999   GOOGL  1148.520020
152  167.369995   GOOGL  1153.420044
153  171.259995   GOOGL  1169.189941
154  172.509995   GOOGL  1164.939941
155  169.130005   GOOGL  1150.849976
156  169.600006   GOOGL  1149.969971
157  169.600006   GOOGL  1149.969971
158  169.600006   GOOGL  1149.969971
159  172.070007   GOOGL  1179.260010
160  171.919998   GOOGL  1197.250000
161  173.369995   GOOGL  1199.060059
162  170.169998   GOOGL  1192.530029
163  165.979996   GOOGL  1190.300049
164  165.979996   GOOGL  1190.300049
165  165.979996   GOOGL  1190.300049
166  160.470001   GOOGL  1188.550049
167  161.570007   GOOGL  1202.459961
168  165.440002   GOOGL  1226.430054
169  166.080002   GOOGL  1236.130005
170  164.339996   GOOGL  1207.650024
171  164.339996   GOOGL  1207.650024
172  164.339996   GOOGL  1207.650024
173  166.289993   GOOGL  1197.380005
174  167.679993   GOOGL  1189.839966
175  165.869995   GOOGL  1178.010010
176  165.550003   GOOGL  1172.270020
177  166.690002   GOOGL  1176.890015
178  166.690002   GOOGL  1176.890015
179  166.690002   GOOGL  1176.890015

[180 rows x 3 columns]